*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(217, 227, 248, 0.521)), url('bg1.jpg');    
    background-size:cover; 
    background-position: center; 
    background-attachment: fixed;
    font-size: 1rem;
    width: 100vw;
} 
.cartPage{
    width: 75%;
    min-height: 80vh;
    /* background-color: rgba(148, 254, 78, 0.179); */
    margin: 10px auto;
    padding: 50px 40px; 
    position: relative;
    border-radius: 20px;
}
h1{
    text-align: center;
}
.cart-head{
    display: flex;
    justify-content:space-between;
    
    padding: 25px 40px;
    border-bottom: 1px solid black;
}
#h-itm{
    width: 35%;
    text-align: center;
}
.cart{
    margin-bottom: 50px;
}
.cartItem{
    display:flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.392);
    height: 150px;
    align-items: center;
    padding: 25px 40px;
    justify-content: space-between;
}
.cartItem-left{
    width: 40%;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.cartItem-left img{
    height: 100%;
    align-items: center;
}
/* right */
.cartItem-right{
    display: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cname{
    font-size:30px ;
    font-weight: 550;
}
.cprice{
    font-size: 20px;
}
.quantity{
    display: absolute;
    height:30px;
    width: 90px;
    
    color: black;
    font-size: 1.6em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add,.subtract{
    background-color: rgba(145, 255, 71, 0.877);
    border-radius: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.cquantity{
    font-size: 0.9em;
    background-color: transparent;
    height: 100%;
    width: 50%;
    text-align: center;

}
.ctotal{
    font-size: 1.5em;
    font-weight: 525;
}
.placeOrder{
    position: absolute;
    bottom: 30px;
    right:60px ;
    height:40px;
    padding:10px 10px;
    font-size: 16px;
    
    border-radius: 10px;
    border: 0.5px solid rgb(14, 109, 1);
    background-color: #f54e4e;
    color:rgb(245, 247, 244);
}
.gt{
    position: absolute;
    bottom: 30px;
    right:300px ;
    font-size: large;
}
.noItems{
  position:fixed;
  top: 50%;
  right: 40%; 
  font-size: 2rem;
}

.cartImage{
    height: 60px;
    width: 100px;
    border-radius: 10px;
}