*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(217, 227, 248, 0.521)), url('bg1.webp');    
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
  }
/*header*/
header{
    background-color: rgb(201, 250, 150);
    height: 15vh;
    display: flex;
    justify-content: space-between;
}
.img-div{
   height: 10vh;
    width: 15vw;
}

.h-right{
    display: flex;
    align-items: center;
    
}
.h-right h3,.h-left h3{
    margin:  15px;
}
.h-left{
    display: flex;
    align-items: center;
}
i{
    font-size: 2em;
}
/* main section */
section#main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.main-left{
    width: 50%;
    height: 100%;       
    background: rgb(251, 250, 248);
}
.main-right{
    margin-left: 10%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.main-right button{
    width: 25%;
}
/* certificate */
#cert{
    height: 30vh;
    background: #6d836e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#cert .item{
    height: 19vh;
    background: rgb(182, 212, 161);
    display: flex;
    align-items: center;
    border-radius: 10%;

}
.item i{
    display: inline;
}
/* best selling */
#bselling{
    height: 100vh;
    width: 100%;
}
.bs-top{
    height: 40%;
    width: 100%;
    display:flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 15vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;
    font-size: 30px;
    color: rgb(17, 17, 17);

}
.bs-btm{
    display: flex;
    justify-content: space-around;
}
.bs-product{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgba(216, 213, 213, 0.473);
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    
}
.bs-product img{
    height: 100%;
    width: 60%;
    
}


/* catagory */
#catagory{
    height: 100vh;
    width: 100%;
}
#catagory h1{
    margin: 10% auto;
    text-align:center ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 500;
    font-size: 60px;
    color: rgb(17, 17, 17);
}
.cat-itm{
    display: flex;
    justify-content: space-around;
}
.cat-itm-ls{
    width: 28%;
    border-radius: 60%;
}
img{
    border-radius: 10%;
}