@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Rubik+Burned&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(217, 227, 248, 0.521)), url('bg1.webp');    
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
  } 
  li{
    list-style-type: none;
  }
/*header*/
header{
    background-color: rgb(201, 250, 150);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-img-div{
   height: 180px;
   width:250px;
    background-image: url('pic2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.h-right{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.h-right h3 a,.h-left h3 a{
    margin:  15px;
    color: black;
    text-decoration: none;
}
header .search{
    height: 40%;
    width:20%;
    background-color: white;
    padding: 0 1%;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 14px;
}
.search input{
    height: 60%;
    
    flex-grow: 0.8;
    border: none;
    border-right: 1px solid black;
    
    
}
.search i{
    margin: auto;
    font-size: 1.5em;
}

.h-left{
    display: flex;
    
}

/* main section */
section#main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.main-left{
    width: 50%;
    height: 100%;       
    background: rgb(251, 250, 248);
}
.main-right{
    margin-left: 5%;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Rubik Burned', system-ui;
}
.main-right button{
    width: 25%;
}
/* certificate */
#cert{
    height: 30vh;
    background: #525B88;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#cert .item{
    height: 19vh;
    width: 20%;
    background: #BFA8BB;
    display: flex;
    align-items: center;
    border-radius: 10%;
    justify-content: center;
    

}
.item i{
    display: inline;
}
/* best selling */
#bselling{
    height: 100vh;
    width: 100%;
    position: relative;
}
.bs-top{
    height: 40%;
    width: 100%;
    display:flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 15vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;
    font-size: 30px;
    color: rgb(17, 17, 17);

}
.bs-btm{
    display: flex;
    justify-content: space-around;
}
.bs-product{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgba(216, 213, 213, 0.473);
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    
}
.bs-product img{
    height: 100%;
    width: 60%;
    
}
#jleaf{
    position:absolute;
    right: 45%;
    bottom:-50px;
    
    
}
/* catagory */
#catagory{
    height: 100vh;
    width: 100%;
    background-color: rgba(233, 173, 95, 0.534);
}
#catagory h1{
    padding: 7%  0%;
    text-align:center ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 500;
    font-size: 60px;
    color: rgb(17, 17, 17);
}
.cat-itm{
    display: flex;
    justify-content: space-around;
}
.cat-itm-ls{
    width: 28%;
    text-align: center;
    
}
/* review */
#review{
    height: 100vh;
    width: 100%;
    text-align: center;
}
.rev-top{
    margin: 10% auto;
}
.rev-bottom{
    display: flex;
    align-items: last baseline;
}
.rev-btm-1{
    margin: 5% 5%;
    max-width: 20%;
    background-color:rgba(0, 0, 0, 0.438) ;
}
/* footer */
footer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712);
}
.f-top{
    height:80%;
    width: 80%;
    margin:0 10%;
    border-bottom: 2px solid rgb(196, 196, 196);
    display: flex;
   

}
.f-top-l{
    height: 100%;
    width: 40%;
    background: gray;
}
.f-top-l h1{
    height:30%;
    background-color:papayawhip ;
    text-align: center;
}

.f-top-m{
    width: 25%;
    padding:4% 4%;

}


.f-top-r{
    width: 35%;
}
.f-bottom{
    height: 20%;
    width: 100%;
}
