@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=PT+Serif:ital,wght@1,700&family=Rubik+Burned&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection {
    background-color: rgb(89, 240, 89);
    color: white;
}

body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(217, 227, 248, 0.521)), url('bg1.jpg');    
        background-size:cover; 
        background-position: center; 
        background-attachment: fixed;
        font-size: 1rem;
        width: 100vw;
  } 
li{
    list-style-type: none;
  }
li a{
    color: inherit;
    text-decoration: none;
  }
/*header*/
header{
    background-color:  rgb(201, 250, 150);
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-img-div{
    height: 100px;
   width:200px;
    background-image: url('pic2-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.h-right{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.h-right h3 a,.h-left h3 a{
    margin:  15px;
    color: black;
    text-decoration: none;
}
header .search{
    height: 40%;
    width:20%;
    background-color: white;
    padding: 0 1%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 14px;
}
.search input{
    height: 60%;
    outline: none;
    flex-grow: 0.8;
    border: none;
    border-right: 1px solid black;
    
    
}
.search button{
    border: none;
    background: none;
    
    
}
.search button i{
    margin: auto;
    font-size: 1.5em;
}

.h-left{
    display: flex;
    
}
@media (max-width:1075px){
    
    
    .h-right h3{
        display: none;
    }
    header{
        height: 12vh;
    }
    header .search{
        width: 30%;
    }
    .search input{
        flex-grow: 0.7;
    }
}

/* main section */
section#main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.main-left{
    width: 50%;
    height: 100%;       
    background: rgb(251, 250, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-left img {
    width: 80%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-right{
    margin-left: 5%;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Merriweather', serif;
}
.main-right h1{
    font-size: 3em;
    margin: 5% 0%;
}
@media (max-width:1075px){
    section#main{
        display: inline-block;
    }
    .main-left{
        width: 100%;
        height: 50%;
        

    }
    .main-left img{
       height: 90%;
       width: auto;

    }
    .main-right{
        height: 50%;
        width: 100%;
        padding: 5%;
    }
}

/* certificate */
#cert{
    height: 30vh;
    width: 100%;
    background: #525B88;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:3%;
    
    
    
}
#cert .item{
    height: 19vh;
    min-width: 85%;
    margin:auto ;
    background: #BFA8BB;
    display: flex;
    align-items: center;
    border-radius: 10%;
    justify-content: center;
}
.item i{
    display: inline;
    font-size: 1.2em;
    margin-right: 5px;
}
@media (max-width:1075px){
    #cert {
        padding: 5%;
        height:40vh;
        display:grid;
        grid-template-columns: auto auto ;
        gap:20%; 
    }
    #cert .item{
        min-width: 90%;
        height: 90%;
    }
}
/* best selling */
#bselling{
    height: max-content;
    width: 100%;
    position: relative;
    padding-bottom: 10%;
}
.bs-top{
    height: 30%;
    width: 100%;
    display:flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 15vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;
    font-size: 30px;
    color: rgb(17, 17, 17);

}
.bs-btm{
    display: flex;
    justify-content: space-around;
    height:60%;
    width: 100%;
    padding-top: 5%;
}
.bs-product{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 213, 213, 0.473);
    align-content: space-evenly;
    width: 20%;
    padding: 5% 0;
}
.bs-product img{
    height: 60%;
    width: 75%;  
}
#jleaf{
    position:absolute;
    right: 45%;
    bottom:-50px;
}
@media(max-width:1000px){
    .bs-product{
        height: auto;
    }
    .bs-product img{
        height: auto;
        width: 75%;  
    }
}

/* catagory */
#catagory{
    height: auto;
    width: 100%;
    background-color: rgba(233, 173, 95, 0.534);
    padding-bottom: 20px;
}
#catagory h1{
    padding: 5%  0%;
    text-align:center ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 500;
    font-size: 60px;
    color: rgb(17, 17, 17);
    
}
.cat-itm{
    display: flex;
    justify-content: space-around;
    height:auto;
    padding-bottom:5%;

}
.cat-itm a{
    color: black;
    text-decoration: none;
}
.cat-itm-ls{
    width: 28%;
    text-align: center;
    background: white;
    padding: 20px 30px;
   border-radius: 20px;
}
.cat-itm-ls img{
    width: 80%;
    
}
.cat-itm-ls h2{
    font-family: 'Merriweather',serif;font-size: 1.5em;
}
.cat-itm-ls h3{
    font-weight: 100;
    font-size: 0.9em;
    margin: 5% 0%;
}
.cat-itm-ls button{
    width: 40%;
    height:7.5%;
    background-color: #6fda61;
    border: none;
    border-radius: 5px;
    font-weight: 520;
    cursor: pointer;
}
.cat-item a img{
    margin-top: 120px;
}
.cat-img{
    width:80%;
    position: relative;
    
}


@media (max-width:1075px){
    .cat-itm-ls button{
        width: 80%;
        margin-top:10px;
        
    }

   
}



/* review */
#review{
    height: auto;
    width: 100%;
    text-align: center;    
}
h1{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
.rev-top{
    margin: 7% auto 0% auto;
}
.rev-bottom{
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
}
.rev-btm-1{
    margin: 5% 5%;
    min-width: 10%;
    padding: 2% 1%;
    background: #BFA8BB;
    border-radius: 10%;
}
@media (max-width:1075px){
    .rev-btm-1{
        width: 30%;
    }
}
/* footer */
footer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(210, 224, 189);
}
.f-top{
    height:80%;
    width: 80%;
    margin:0 10%;
    border-bottom: 2px solid rgb(196, 196, 196);
    display: flex;
}
.f-top h2{
    color: #BFA8BB;
}
.f-top-l{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%;
}
.f-top-l img{
    width:70%;
    border-radius: 10%;
}

.f-top-m{
    width: 25%;
    padding:4% 4%;

}
.f-top-m div{
    margin: 20% 0%;
}


.f-top-r{
    width: 35%;
    margin-top: 7%;
    
}
.f-top-r div{
    margin-bottom: 7% ;
}
.f-bottom{
    height: 20%;
    width: 100%;
    padding: 3% 10%;
}
@media(max-width:1075px){
    footer{
        height:80vh;
    }
    .f-top-l{
        justify-content: flex-start;
        gap: 80px;
    }
    .f-top-l img{
        margin-top: 50px;
    }

}
