*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}



#pf{
    width: 100vw;
    height:100vh;
    background: url('https://media.istockphoto.com/id/1209729476/vector/dark-pattern-with-exotic-leaves.jpg?s=612x612&w=0&k=20&c=lxahoTZTEds5v0Q3p3jb8yCMD_zH21gzOOwOuES_1_E=');
    padding: 5%;
    line-height: 2em;
    
    
}
.pf-btm{
    display: flex;
}
.pf-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pf-right{
    width: 50%;
    height: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    
    
    
}
#pf h1{
    text-align: center;
    margin-bottom: 7%;
    color: rgb(238, 238, 138);
    font-size: 50px;
}
#pf input {
    outline: none;
    border: 0.75px solid black;
    width: 50%;
    height: 2em;
    border-radius: 10px;
    text-align: center;
    
    

}
#file {
    display: block;
    width: 300px;
    height: 300px;
    background:  url("white.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #51cc39;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
#pic1{
    display: none;
}
textarea{
    height: 30%;
    width:60%;
    text-align: center;
}


