.product{
    height: 90vh;
    width: 100vw;
    display: flex;
}
.p-left{
    height: 100%;
    width: 40%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    font-size: 100px;
}
.category{
    font-size: 30px;
}
.desc{
    font-size: 30px;
}
.weight{
    font-size: 30px;
}
.price{
    font-size: 30px;
}
.product-img{
    height: 50%;
    width: 80%;
    background: rgb(241, 199, 199);

}
.p-right{
    height: 100%;
    width: 60%;
    background: rgb(247, 185, 185);
    text-align: center;
    
}